.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.panel{
  border: 1px solid #282c34 ;
  border-radius: 20px;
  height: 270px;
  width: 50%;
  margin-left: 20px;
  margin-top: 20px;
  padding-left: 15px;
}

.checkBOX{
  text-align: left;
  margin-left: 190px;
  margin-top: -5px;
}

.tombol{
  border-radius: 20px;
  position: absolute;
  left: 45px;
  
}
