.container {
    width: 100%;
    /* margin: 0 auto; */
    margin-left: -10px;
    

}

.navbar {
    width: 100%;
    overflow: hidden;
    height: 70px;
    line-height: 70px;
    background: #fff;
    border-bottom: 2px solid dodgerblue;
    position: fixed;
    margin-top: -25px;
    

}

#logo {
    width: 200px;
    float: left;
    /* border: 1px solid dodgerblue; */
    margin-top: 10px;

}

.menu {
    float: right;
    
}

.menu li {
    float: left;
    width: 120px;
    height: 70px;
    line-height: 70px;
    /* text-align: center; */
    list-style: none;
    /* border: 1px solid dodgerblue; */
    margin-top: -15px;
    position: relative;
    text-align: center;
}

.menu li a {
    color: #000;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;

}

.menu li:hover{
    background: dodgerblue;
}

.content {
    width: 1000px;
    /* height: 1500px; */
    border: 1px solid dodgerblue;
    margin: 10px auto;
    background: white;
    padding-top: 50px;
    
}

body {
    background-image: url("../img/pattern.jpg");
}

h1 {
    text-align: center;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;    
    font-size: 20px;    
}

h5{
    padding-top: 15px;
}


